.form-control {
	&::placeholder {
		color: #666;
		opacity: 1;
	}
}

.h7 {
	font-size: 0.85rem;
}
.h-auto {
	min-height: auto !important;
}
.gp-block {
	display: block !important;
}
.os-tabs-controls.os-tabs-complex .nav-item .nav-link {
	padding: 8px 10px;
}
.nav {
	flex-wrap: nowrap;
}

// .element-box {
// 	padding: 1.5rem 2rem;
// 	margin-bottom: 1rem;
// 	border-radius: 6px;
// 	background-color: #fff;
// 	-webkit-box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
// 	box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
// 	margin-left: 40px;
// 	margin-top: 20px;
// }

.one-third {
	/* float: left; */
	width: 33.33%;
	/* padding: 0 15px 30px; */
	max-width: 100%;
	background: #a64dff;
	color: #ccc;
}

.boxed.gold {
	background: none !important;
	padding: 0;
}
.boxed {
	padding: 0 !important;
	margin: 0 !important;
	display: inline-block;
	width: 100%;
}
.gold {
	background: #dbbc94 !important;
	font-size: 14px;
	font-weight: 600;
	padding: 7px 10px;
}

.boxed li {
	/* padding: 20px; */
	float: left;
	width: 33.334%;
	height: 90px;
	font-size: 11px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	overflow: hidden;
	padding: 0 !important;
	border-top: none !important;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;

	.boxed li a link {
		color: #fff;
		float: left;
		width: 100%;
		height: 100%;
		font-weight: 700 !important;
		-webkit-transition: all 0.2s ease-in;
		-moz-transition: all 0.2s ease-in;
		-o-transition: all 0.2s ease-in;
		-ms-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in;
	}

	.boxed li span {
		display: inline-block;
		width: 100%;
		padding: 30px 9px;
		vertical-align: sub;
	}
}

.gold .light a {
	background: #a64dff;
}

.gold .medium a {
	background: #7e23f2;
}

.gold .dark a {
	background: #6d00d9;
}

.element-wrapper.compact {
	padding-bottom: 0rem;
}

.specimen {
	font-size: 11px;
	font-weight: bold;
	color: #b8b8b8;
	margin-bottom: 5px;
}
.overflow-hidden {
	width: 100%;
	overflow: hidden;
}

.nicuactivity {
	padding: 10px;
	cursor: pointer;
	line-height: 20px;
	font-size: 15px;
	font-weight: 500;

	div:hover {
		color: blue;
	}
}

.search_form {
	justify-content: flex-end;
	z-index: 2;
	margin: -0.2rem 2rem;
}

.search_label {
	padding: 4px 4px;
	font-size: 15px;
	font-weight: 400;
}

.search_input {
	min-height: 24px !important;
	height: 30px;
	/* height: 2rem; */
	width: 15rem;
}

.center-header {
	display: block;
}

.center-title {
	display: block;
}

.invoice-POS {
	box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
	padding: 2mm;
	margin: 0 auto;
	width: 44mm;
	background: #fff;

	h1 {
		font-size: 1.5em;
		color: #222;
	}
	h2 {
		font-size: 0.9em;
	}
	h3 {
		font-size: 1.2em;
		font-weight: 300;
		line-height: 2em;
	}
	p {
		font-size: 0.7em;
		color: #666;
		line-height: 1.2em;
	}

	#top,
	#mid,
	#bot {
		/* Targets all id with 'col-' */
		border-bottom: 1px solid #eee;
	}

	#top {
		min-height: 100px;
	}
	#mid {
		min-height: 80px;
	}
	#bot {
		min-height: 50px;
	}

	#top .logo {
		//float: left;
		height: 60px;
		width: 60px;
		background: url(http://michaeltruong.ca/images/logo1.png) no-repeat;
		background-size: 60px 60px;
	}
	.clientlogo {
		float: left;
		height: 60px;
		width: 60px;
		background: url(http://michaeltruong.ca/images/client.jpg) no-repeat;
		background-size: 60px 60px;
		border-radius: 50px;
	}
	.info {
		display: block;
		//float:left;
		margin-left: 0;
	}
	.title {
		float: right;
	}
	.title p {
		text-align: right;
	}
	table {
		width: 100%;
		border-collapse: collapse;
	}

	.tabletitle {
		//padding: 5px;
		font-size: 0.5em;
		background: #eee;
	}
	.service {
		border-bottom: 1px solid #eee;
	}
	.item {
		width: 24mm;
	}
	.itemtext {
		font-size: 0.5em;
	}

	#legalcopy {
		margin-top: 5mm;
	}
}

.reciept-address {
	text-align: center;
}

.reciept-logo {
	height: 60px;
	width: 60px;
	// background: url(http://michaeltruong.ca/images/logo1.png) no-repeat;
	// background-size: 60px 60px;
}

.reciept-logo img {
	height: 60px;
	width: 60px;
}

@media all {
	.page-break {
		display: none;
	}
}

@media print {
	html,
	body {
		height: initial !important;
		overflow: initial !important;
		-webkit-print-color-adjust: exact;
	}
}

@media print {
	.page-break {
		margin-top: 1rem;
		display: block;
		page-break-before: auto;
	}
}

@page {
	size: auto;
	margin: 20mm;
}

tr {
	&.urgent {
		background-color: #d29fa9 !important;
	}
}

.display-flex {
	display: flex;
}
.text-underline {
	text-decoration: underline !important;
}
.pipeline.white {
	box-shadow: 0 2px 10px 0 rgba(16, 37, 133, 0.1);
}

.div-icon {
	.btn-icon {
		display: block;
		height: 28px;

		img {
			max-height: 100%;
		}
	}
}

.modal-open {
	.modal {
		&.show {
			background-color: rgba(0, 0, 0, 0.35);
		}
	}
}

.flex-action {
	display: flex;
	align-items: center;
}

.floating-actions {
	position: absolute;
	right: 10px;
	top: 105px;
}

.toggled {
	background-color: #ececec !important;
	border-color: #e6e6e6 !important;
}

.warning-task {
	display: inline-block;
	margin-right: 4px;
	width: 18px;
	img {
		max-width: 100%;
	}
}

.text-custom {
	color: rgba(69, 76, 96, 0.8) !important;
}

// .react-datepicker {
//     width: 328px;
// }

.set-immediately {
	text-align: right;
	right: 0;
	position: absolute;
	top: 0;
}

.set-pharmacy {
	text-align: right;
	right: 0;
	position: absolute;
	top: 0;
}

.loading-block {
	width: 100%;
	text-align: center;
	padding: 60px 0;
}

.onboarding-modal .slick-next {
	right: 50px;
}

.hidden {
	display: none;
}

.ant-calendar-picker-container,
.ant-tooltip {
	z-index: 2100 !important;
}

.block-ui-container {
	z-index: 10000 !important;
}
