// Add styles here you want to override
a {
	cursor: pointer;
}
button {
	outline: 0 none !important;
}
.text-bold {font-weight: bold !important;}

.balance {
	.balance-title {
		font-size: 0.8rem;
	}
	.strong {
		margin-top: -2px;

		small {
			font-weight: bold !important;
			font-size: 1.08rem;
		}
	}
}
.pagination-center {position: relative;justify-content: flex-end;}
.ant-pagination-total-text {
    position: absolute;
    left: 0;
    top: 0;
}
.row-expand-icon {
	color: #1890ff;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	display: inline-block;
	width: 17px;
	height: 17px;
	color: inherit;
	line-height: 13px;
	text-align: center;
	background: $white;
	border: 1px solid #e8e8e8;
	border-radius: 2px;
	outline: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.row-collapsed::after {
	content: '+';
}

.row-expanded::after {
	content: '-';
}

.expanded-row {
	background: #fbfbfb !important;

	.table {
		background: #fbfbfb;
	}
	.table-striped tr {
		background: #fbfbfb;
	}
	.table-striped tbody tr:nth-of-type(odd) {
		background: #fbfbfb;
	}
}

.onboarding-modal {
	.onboarding-content {
		margin: 20px 0;

		&.with-gradient {
			padding: 20px 32px;
		}
	}
}

.table {
	.row-actions {
		a {
			&.primary {
				color: $primary !important;
			}
			&.secondary {
				color: $secondary !important;
			}
			&.success {
				color: $success !important;
			}
			&.danger {
				color: $dark-red !important;
			}
		}
		.os-icon-basic-2-259-calendar:before {
			color: $dark-red;
		}
	}
}
.lds-loading {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 80px;
	height: 80px;
}
.lds-ripple {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ripple div {
	position: absolute;
	border: 4px solid #cef;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}
@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}
.leave-box {
	.element-header {margin-top: 24px;}
	.table-striped tbody tr:nth-of-type(odd) {
		background: #ffffff;
	}
	.table {
		background: #ffffff;
	}
	.table-striped tr {
		background: #ffffff;
	}
}
.payroll-details {
    background-color: #fff6f2;
	border-radius: 6px;
	padding: 20px 25px;

	&.deductions {background-color: #f6f2ff;}
}